<%- include('./base/header.ejs') %>
<main class="main">

    <!-- projects Section -->
    <section id="projects" class="projects section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>My Projects</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">


      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="project-item item-cyan position-relative">
          <div class="img">
            <img src="assets/img/IMG_1433.jpg" alt="Project Image" width="300" height="200">

          </div> 
          <a href="#" class="stretched-link">
            <h3>Jumble Game</h3>
          </a>
          <p>My very first HTML Project in Repl.it, the called Jumble Game.</p>
        </div>
      </div><!-- End projects Item -->


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item item-orange position-relative">
              <div class="icon">
                <img src="assets/img/IMG_1434.jpg" alt="Project Image" width="300" height="200">
              </div>
              <a href="#" class="stretched-link">
                <h3>Functional Website</h3>
              </a>
              <p>Created a functional website during Proffessor Shiekh's lectures</p>
            </div>
          </div><!-- End projects Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="project-item item-teal position-relative">
              <div class="icon">
                <img src="assets/img/rishad9.jpg" alt="Project Image" width="300" height="200">
              </div>
              <a href="#" class="stretched-link">
                <h3>Personal Portfolio Website</h3>
              </a>
              <p>Created a Personal Portfolio Website using ExpressJS and implementing the EJS
templating engine .</p>
            </div>
          </div><!-- End Projects Item -->


        </div>

      </div>

    </section><!-- /projects Section -->

  </main>



<%- include('./base/footer.ejs') %>